<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Italianno&family=Playfair:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    {% block stylesheets %}{{ encore_entry_link_tags('css/bootstrap') }}{% endblock %}

    <title>{% block title %}La lumière du bonheur{% endblock %}</title>
</head>


<body>
<div class="container">
    <header>
        <div class="social-icons">
            <a href="https://www.instagram.com/lalumieredubonheur/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100077890676183" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://pin.it/1UH8KJC" target="_blank"><i class="fab fa-pinterest"></i></a>
            <a href="https://www.youtube.com/watch?v=5nfE9OQRDuA&t=19s" target="_blank"><i class="fab fa-youtube"></i></a>
            {% if app.user %}
                <a href="{{ path('app_admin') }}"><i class="fa fa-leaf" aria-hidden="true"></i></a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}"><i class="fa fa-leaf" aria-hidden="true"></i></a>
            {% endif %}
        </div>

        {% include('inc/nav.html.twig') %}
    </header>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash {{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include('inc/nav.html.twig') %}
        <div class="footer-container">
            <div class="contact-info">
                <a href="mailto:lalumieredubonheur2020@gmail.com"><i class="fas fa-envelope"></i> lalumieredubonheur2020@gmail.com</a>
            </div>
            <div class="contact-info">
                <a href="tel: 0768370898"><i class="fas fa-phone"></i> 0768370898</a>
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/lalumieredubonheur/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077890676183" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://pin.it/1UH8KJC" target="_blank"><i class="fab fa-pinterest"></i></a>
                <a href="https://www.youtube.com/watch?v=5nfE9OQRDuA&t=19s" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div>&copy; {{ "now"|date("Y") }} La lumière du bonheur</div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>