{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Témoignages
{% endblock %}

{% block body %}
    <h1 class="contact-title">Témoignages</h1>
    <div class="intro-t">
        <img src="{{ asset('img/posters/livre dor.jpg') }}">
        <p class="intro-tt">Nous tenons à vous remercier du fond du coeur pour votre confiance et votre soutien.
            Nous sommes ravies de pouvoir travailler avec vous et de vous apporter notre assistance pour vous créer
            votre journée idéale en toute sérénité.</p>
    </div>

    <div class="form-t">
        <h2>N'hésitez pas à nous laisser votre témoignage</h2>
        {% if app.flashes('success') is defined and app.flashes('success')|length > 0 %}
            <div class="alert alert-success">
                {{ app.flashes('success')[0] }}
            </div>
        {% endif %}

        {{ form_start(formt) }}
        {{ form_widget(formt) }}
        <button type="submit">Envoyer</button>
        {{ form_end(formt) }}
    </div>

{% endblock %}