{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} | Témoignages
{% endblock %}

{% block body %}
    <h1 class="contact-title">Témoignages</h1>
    <div class="intro-t">
        <img src="{{ asset('img/posters/livre dor.jpg') }}">
        <p class="intro-tt">Nous tenons à vous remercier du fond du coeur pour votre confiance et votre soutien.
            Nous sommes ravies de pouvoir travailler avec vous et de vous apporter notre assistance pour vous créer votre journée idéale en toute sérénité.</p>
    </div>

    <div class="mariage1">
        <div class="tPhoto">
            <div class="tNina">
                <p class="Nina">« Nous avons engagé Maéva alors que j’étais submergée par la charge de l’organisation de notre Mariage. Dès notre rendez-vous de rencontre, elle a été une oreille attentive pour nous, prenant le temps de nous orienter et de nous aider à définir au mieux nos besoins, envies, attentes. Nous lui avons tout de suite fait confiance et nous ne l’avons pas regretté une seconde.

                    Elle est extrêmement professionnelle, organisée, astucieuse, inventive, méticuleuse, honnête. C’est une vraie Mary Poppins, pensant toujours à tout, trouvant toujours des solutions et ayant cette incroyable capacité à gérer les prestataires comme les invités de manière douce mais ferme. C’est aussi une personne adorable. Elle a su faire preuve de beaucoup d’empathie et nous rassurer quand il le fallait.

                    En bref, elle a été notre pilier tout au long de l’organisation du mariage et de son déroulement. Quelle soulagement de pouvoir se reposer sur elle et de juste se laisser guider et profiter le jour J !

                    Notre mariage a été un moment exceptionnel à nos yeux et aux yeux de nos invités et ce grâce à Maéva. Merci pour tout ! »

                    Nina</p>
            </div>
            <div class="imgNina">
                <img src="{{ asset('img/posters/essaie7.jpg') }}">
            </div>
        </div>

        <div class="tPhoto">
            <div class="imgNina">
                <img src="{{ asset('img/posters/essaie5.jpg') }}">
            </div>
            <div class="tNina">
                <p class="Seb">« Si vous avez besoin d’aide pour organiser votre mariage, ne cherchez pas plus loin que Maéva et So this is love.

                    Disponible, à l’écoute, pleine de bonnes idées en lien avec ce que vous imaginez, Maéva saura vous écouter pour trouver LE truc qui vous correspond, LE prestataire que vous n’arrivez pas à avoir, LA dernière pièce de décoration, etc.

                    Maéva a fait des merveilles, elle est d’une efficacité redoutable et connaît son sujet sur le bout des doigts. Elle nous a tenu informés et impliqués tout au long de ses recherches, pour que nous puissions valider et pour s’assurer que nous étions tous sur la même longueur d’onde. Des points téléphoniques ou en direct réguliers pour avancer, pour planifier le jour J, que ce soit avec nous ou avec tous les prestataires (traiteur, fleuriste, groupe, DJ, photographe, lieu de réception, etc.).

                    Et sa présence la veille et le jour du mariage nous a permis de profiter sans nous stresser. Savoir qu’elle était dans le coin pour gérer le déroulé de la journée nous a permis de nous concentrer sur le reste de ce jour, de profiter de nos invités, etc.

                    Pour tout cela, je recommande Maéva les yeux fermés, vous ne serez pas déçus. »

                    Sébastien</p>
            </div>
        </div>
    </div>

    <div class="mariage2">
        <div class="m1">
            <p>Nous avons fait appel à une wedding planneuse pour nous accompagner de l'organisation de notre mariage jusqu'au déroulé du jour J.
                Noce de Rêve by Flovinno est allé au-delà de nos espérances.
                Sandra a tout de suite compris ce que nous recherchions et nous a proposé des lieux et prestataires adaptés. Les prestataires que Noce de Rêve by Flovinno nous a présentés ont tous été très professionnels.
                L'équipe était à nos côtés le jour de notre mariage et a pris en charge tout le déroulé du jour J de façon à ce que nos proches et nous puissions profiter de cette journée si particulière sans devoir gérer les imprévus.
                Notre mariage a été parfait.
                La décoration était magnifique, le traiteur délicieux et le lieu féerique. Le DJ nous a fait danser jusqu'au bout de la nuit et le photographe a su se faire oublier pour des photos naturelles. Noce de Rêve by Flovinno nous a permis de travailler avec des prestataires de qualité.
                Vincent a été un Officiant parfait pour notre cérémonie laïque. Il a su capter notre couple et retranscrire notre histoire avec délicatesse.
                Sandra a su comprendre rapidement ce que nous aimions et imaginer une cérémonie à notre image.
                Sans Noce de Rêve by Flovinno, notre mariage n'aurait pas été si parfait. Si c'était à refaire, nous n'hésiterions pas une seconde à recommencer.
                Nous recommandons vivement Noce de Rêve by Flovinno.</p>
            <h2 class="tr_sign">Tiffany & Raphael</h2>
            <img src="{{ asset('img/posters/essaie9.jpg') }}">
        </div>

        <div class="m2">
            <p>Nous avons fait appel à une wedding planneuse pour nous accompagner de l'organisation de notre mariage jusqu'au déroulé du jour J.
                Noce de Rêve by Flovinno est allé au-delà de nos espérances.
                Sandra a tout de suite compris ce que nous recherchions et nous a proposé des lieux et prestataires adaptés. Les prestataires que Noce de Rêve by Flovinno nous a présentés ont tous été très professionnels.
                L'équipe était à nos côtés le jour de notre mariage et a pris en charge tout le déroulé du jour J de façon à ce que nos proches et nous puissions profiter de cette journée si particulière sans devoir gérer les imprévus.
                Notre mariage a été parfait.
                La décoration était magnifique, le traiteur délicieux et le lieu féerique. Le DJ nous a fait danser jusqu'au bout de la nuit et le photographe a su se faire oublier pour des photos naturelles. Noce de Rêve by Flovinno nous a permis de travailler avec des prestataires de qualité.
                Vincent a été un Officiant parfait pour notre cérémonie laïque. Il a su capter notre couple et retranscrire notre histoire avec délicatesse.
                Sandra a su comprendre rapidement ce que nous aimions et imaginer une cérémonie à notre image.
                Sans Noce de Rêve by Flovinno, notre mariage n'aurait pas été si parfait. Si c'était à refaire, nous n'hésiterions pas une seconde à recommencer.
                Nous recommandons vivement Noce de Rêve by Flovinno.</p>
            <h2 class="tr_sign">Jean & Mich</h2>
            <img src="{{ asset('img/posters/essaie9.jpg') }}">
        </div>
    </div>

    <div class="form-t">
        <h2>N'hésitez pas à nous laisser votre témoignages</h2>
        {% if app.flashes('success') %}
            <div class="alert alert-success">
                {{ app.flashes('success')[0] }}
            </div>
        {% endif %}

        {{ form_start(formt) }}
        {{ form_widget(formt) }}
        <button type="submit">Envoyer</button>
        {{ form_end(formt) }}
    </div>

{% endblock %}
