{% extends 'base.html.twig' %}

{% block title %}GALERIES{% endblock %}
-
{% block body %}
    <nav class="secondnav">
        <ul>
            <li>
                <a href="{{ path('app_galeries') }}" class="filter-link" data-filter="all">TOUT</a>
            </li>
            <li>
                <a href="{{ path('app_galeries_filtrees', { 'id': 1 }) }}" class="filter-link" data-filter="1">EMMANUELLE
                    & DAVID</a>
            </li>
            <li>
                <a href="{{ path('app_galeries_filtrees', { 'id': 3 }) }}" class="filter-link" data-filter="3">L'AMOUR
                    INTEMPOREL</a>
            </li>
            <li>
                <a href="{{ path('app_galeries_filtrees', { 'id': 4 }) }}" class="filter-link" data-filter="4">AU
                    CHATEAU</a>
            </li>
            <li>
                <a href="{{ path('app_galeries_filtrees', { 'id': 5 }) }}" class="filter-link" data-filter="5">AU BORD
                    DE L'EAU</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="thumbnail-gallery">
                {% for mariage in mariages %}
                    {% for photo in mariage.photos %}
                        <div class="av-masonry-container isotope" style="position: relative">
                            <div class="caption"></div>
                            <div class="thumbnail"
                                 style="background-image: url('{{ asset('img/posters/' ~ photo.nom) }}')"
                                 data-filter="{{ mariage.id }}"></div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var filterLinks = document.querySelectorAll('.filter-link');
            var thumbnails = document.querySelectorAll('.thumbnail');

            filterLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    var filterValue = this.getAttribute('data-filter');

                    thumbnails.forEach(function (thumbnail) {
                        if (filterValue === 'all' || thumbnail.getAttribute('data-filter') === filterValue) {
                            thumbnail.style.display = 'block';
                        } else {
                            thumbnail.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}