<nav class="navbar">
    <ul class="left-links">
        <li><a href="{{ path('page_home') }}" title="ACCUEIL">ACCUEIL</a></li>
        <li><a href="{{ path('app_apropos') }}" title="A PROPOS">A PROPOS</a></li>
        <li><a href="{{ path('prestations_list') }}" title="PRESTATIONS">PRESTATIONS</a></li>
    </ul>
    <div class="logo">
        <a href="{{ path('page_home') }}"><img src="{{ asset('img/logo1.png') }}" alt="La lumiere du bonheur"></a>
    </div>
    <ul class="right-links">
        <li><a href="{{ path('app_galeries') }}" title="GALERIES">GALERIES</a></li>
        <li><a href="{{ path('app_temoignages') }}" title="TEMOIGNAGES">TEMOIGNAGES</a></li>
        <li><a href="{{ path('app_contact') }}" title="CONTACT">CONTACT</a></li>
    </ul>
</nav>
